# reference material; don't redistribute
/refs

# ROM and cartridge images
/software

# verilator harness build products
verilator/obj_dir/
verilator/obj_dir_headless/
verilator/gen/
verilator/ghdl_work/
verilator/out/
verilator/*.vcd
verilator/imgui.ini
verilator/rtl_v/

# quartus build products
/db
/incremental_db
/output_files

# mac
.DS_Store

# miscellaneous
*.log
/rbf_archive
build_id.v
c5_pin_model_dump.txt
clean_safe.bat
